@font-face {
   font-family: "TT Chocolates Trial Variable";
   src: url("@/assets/fonts/TTChocolatesTrialVariable.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrialVariable.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-XBd.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-XBd.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-Lt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-Lt.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd XLt";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-XLtIt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-XLtIt.woff") format("woff");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-XLt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-XLt.woff") format("woff");
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd Db";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-DmBd.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-DmBd.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-Bd.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-Bd.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-Bd.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-Bd.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-XBdIt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-XBdIt.woff") format("woff");
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd Lt";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-Lt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-Lt.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-Md.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-Md.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd XBd";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-XBd.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-XBd.woff") format("woff");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-DmBd.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-DmBd.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd Md";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-Md.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-Md.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-Rg.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-Rg.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd Db";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-DmBdIt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-DmBdIt.woff") format("woff");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-MdIt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-MdIt.woff") format("woff");
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd Md";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-MdIt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-MdIt.woff") format("woff");
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-BdIt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-BdIt.woff") format("woff");
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-BdIt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-BdIt.woff") format("woff");
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-It.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-It.woff") format("woff");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd XBd";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-XBdIt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-XBdIt.woff") format("woff");
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-DmBdIt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-DmBdIt.woff") format("woff");
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-Rg.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-Rg.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-XLtIt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-XLtIt.woff") format("woff");
   font-weight: 200;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd XLt";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-XLt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-XLt.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-LtIt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-LtIt.woff") format("woff");
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trial";
   src: url("@/assets/fonts/TTChocolatesTrial-It.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrial-It.woff") format("woff");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "TT Chocolates Trl Cnd Lt";
   src: url("@/assets/fonts/TTChocolatesTrlCnd-LtIt.woff2") format("woff2"),
      url("@/assets/fonts/TTChocolatesTrlCnd-LtIt.woff") format("woff");
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}
